# ==========================
# Python
# ==========================
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
.env.*

# Backend Data
backend/data/raw/
backend/data/processed/

# ==========================
# Node / React
# ==========================
frontend/node_modules/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db